<section id="contact">
    <div id="google-map" class="wow fadeIn" data-latitude="50.6167" data-longitude="3.0167" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h1>{{ 'contact.titre'|trans }} </h1><hr style="width: 100px">
                    <h4 class="text-muted">{{ 'contact.sous_titre'|trans }}</h4>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="main-contact-form" name="contact-form" method="post" action="#">
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="{{ 'contact.nom'|trans }}" required="required">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="{{ 'contact.email'|trans }}" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="{{ 'contact.objet'|trans }}" required="required">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="4" placeholder="{{ 'contact.message'|trans }}" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-submit">{{ 'contact.submit'|trans }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <ul class="address">
                                <li><i class="fa fa-map-marker" style="margin-right: 20px"></i> Loos </li>
                                <li><i class="fa fa-phone" style="margin-right: 20px"></i> +33 652 40 10 07</li>
                                <li><i class="fa fa-envelope" style="margin-right: 20px"></i><a href="mailto:mohamedcra@yahoo.fr"> Mohamed Camara</a></li>
                                <li><i class="fa fa-globe" style="margin-right: 20px"></i><a href="#"> www.camaramohamed.fr</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#contact-->