<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h1>{{ 'experience.titre'|trans }}</h1><hr style="width: 100px; border-top: 1px solid #6E6E6E">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ asset('images/portfolio/job.jpg') }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>{{ 'experience.reservation'|trans }}</h3>
                                    <p>{{ 'experience.place'|trans }}</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a href="#contact" data-single_url="portfolio-single.html"><i class="fa fa-phone"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ asset('images/portfolio/lasercontact.jpg')}}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>{{ 'experience.laser_annee'|trans }}</h3>
                                    <p style="text-transform: uppercase">{{ 'experience.laser_fonction'|trans }}</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ asset('images/portfolio/manorga.jpg')}}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>{{ 'experience.manorga_annee'|trans }}</h3>
                                    <p style="text-transform: uppercase">{{ 'experience.manorga_fonction_1'|trans }} <br>{{ 'experience.manorga_fonction_2'|trans }}</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ asset('images/portfolio/mondelez.jpg')}}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>{{ 'experience.mondelez_annee'|trans }}</h3>
                                    <p style="text-transform: uppercase">{{ 'experience.manorga_fonction_1'|trans }} <br>{{ 'experience.manorga_fonction_2'|trans }}</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand"><a href="{{ asset('images/portfolio/portfolio-details.jpg')}}" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ asset('images/portfolio/atos.jpg')}}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>{{ 'experience.atos_annee'|trans }}</h3>
                                    <p style="text-transform: uppercase">{{ 'experience.atos_fonction_1'|trans }} <br>{{ 'experience.atos_fonction_2'|trans }}</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand"><a href="{{ asset('images/portfolio/portfolio-details.jpg')}}" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ asset('images/portfolio/heineken.jpg')}}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>{{ 'experience.heineken_annee'|trans }}</h3>
                                    <p style="text-transform: uppercase">{{ 'experience.manorga_fonction_1'|trans }} <br>{{ 'experience.manorga_fonction_2'|trans }}</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand"><a href="{{ asset('images/portfolio/portfolio-details.jpg')}}" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio-single-wrap">
        <div id="portfolio-single">
        </div>
    </div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->