<section id="twitter" class="parallax">
    <div>
        <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="twitter-icon text-center">
                        <i class="fa fa-graduation-cap fa-5x"></i>
                        <h2 style="font-weight: bolder">{{ 'formation.titre'|trans }}</h2>
                    </div>
                    <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="center-block annee">2016 - 2017</div>
                                <h5 class="diplome"><span>{{ 'formation.diplome_1'|trans }} </span><i class="fa fa-angle-double-right"></i> {{ 'formation.intitule_1'|trans }}<hr style="width: 100px">
                                    <small class="center-block" style="font-weight: bolder; font-style: italic;">M2I Formation - Villeneuve d'Ascq</small>
                                </h5>

                            </div>
                            <div class="item">
                                <div class="center-block annee">2001 - 2004</div>
                                <h5 class="diplome"><span>{{ 'formation.diplome_2'|trans }} </span><i class="fa fa-angle-double-right"></i> {{ 'formation.intitule_2'|trans }} <hr style="width: 100px">
                                    <small class="center-block" style="font-weight: bolder; font-style: italic;">{{ 'formation.ou_2'|trans }}<br><br> {{ 'formation.ou_2.1'|trans }}</small>
                                    </h5>

                            </div>
                            <div class="item">
                                <div class="center-block annee">1998 - 2002</div>
                                <h5 class="diplome"><span>{{ 'formation.diplome_2'|trans }} </span><i class="fa fa-angle-double-right"></i> {{ 'formation.intitule_3'|trans }} <hr style="width: 100px">
                                    <small class="center-block" style="font-weight: bolder; font-style: italic;">{{ 'formation.ou_3'|trans }}<br><br> {{ 'formation.ou_2.1'|trans }}</small>
                                </h5>

                            </div>
                            <div class="item">
                                <div class="center-block annee">1997</div>
                                <h5 class="diplome "><span>{{ 'formation.intitule_4'|trans }} </span><i class="fa fa-angle-double-right"></i> {{ 'formation.intitule_4.1'|trans }} <hr style="width: 100px">
                                    <small class="center-block" style="font-weight: bolder; font-style: italic;">{{ 'formation.ou_4'|trans }}</small>
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#twitter-->