<section id="about-us" class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h1>{{ 'about.titre'|trans }}</h1>

                    <p>{{ 'about.description_1'|trans }}</p>
                    <p>{{ 'about.description_2'|trans }}</p>
                    <p>{{ 'about.description_3'|trans }}</p>
                    <p>{{ 'about.description_4'|trans }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="member-info"><br>
                        <h3>{{ 'about.titre_2'|trans }}</h3><br>
                       <strong> <h4>{{ 'about.rencontre_1'|trans }}<br>
                                    <br> {{ 'about.rencontre_2'|trans }}
                                    <i class="fa fa-smile-o fa-1x" style="padding-left: 10px; color: #a6e1ec"></i>
                                </h4>
                       </strong>
                    </div>
                    <div style="margin-top: 50px">
                        <a class="btn btn-danger" style="border-radius: 15px; font-weight: bolder" href="{{ asset('files/CamaraMohamed210617') }}" target="_blank">{{ 'about.telecharger'|trans }}</a>
                    </div>
                    <div class="social-icons" style="float: right"><br>
                        <p class="text-primary"><strong>{{ 'about.reseaux'|trans }}</strong></p>
                        <ul>
                            <li><a class="facebook"  href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" target="_blank" href="https://twitter.com/mohamedcra1"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/mohamed-camara-a3326a144"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!--/#about-us-->
